<%= form_with(model: refeicao) do |form| %>
  <% if refeicao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(refeicao.errors.count, "error") %> prohibited this refeicao from being saved:</h2>

      <ul>
        <% refeicao.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tipo %>
    <div></div>
    <%= form.text_field :tipo %>
  </div>

  <div class="text_area">
    <%= form.label :alimentos %>
    <div></div>
    <%= form.text_area :alimentos %>
  </div>

  <div class="field">
    <%= form.label :sentimento %>
    <div></div>
    <%= form.text_field :sentimento %>
  </div>

  <div class="field">
    <%= form.label :hora %>
    <div></div>
    <%= form.datetime_select :hora %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
